<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/2.0.0/css/froala_blocks.min.css">
		<link type="text/css" rel="stylesheet" href="{{ absolute_url(asset('assets/css/style.css')) }}">

		<title>You speech we write - {% block title %}{% endblock %}</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# {{ asset('css/app.css') }} #}
		{% endblock %}

		{% block javascripts %}
			{# {{ asset('js/app.js') }} #}
		{% endblock %}

	</head>

	<body>

		<nav class="navbar navbar-expand-lg navbar-white bg-white">
			<a class="navbar-brand" href="{{path('app_index')}}">
				<img width="30" height="30" src="{{ absolute_url(asset('assets/images/logo.jpg')) }}" class="d-inline-block align-top" alt=""/>
				<span class="text-dark">You speech we write</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav col-8">
				</ul>
				<ul class="navbar-nav justify-content-end col-sm-4 order-lg-12 d-none d-md-flex">
					<li class="nav-item">
						{# <a class="nav-link" href="{{path('app_logout')}}">Logout <i class="fab fa-facebook"></i> </a> #}
						
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<a class="nav-link btn btn-outline-success" href="{{path('app_home')}}">
								{{app.user.username}}
							</a>
							<a class="nav-link btn btn-outline-info" href="{{path('app_logout')}}">
								Logout
							</a>
						{% else %}
							<a class="nav-link btn btn-outline-success" href="{{path('app_login')}}">
								Login
							</a>
							<a class="nav-link btn btn-outline-info" href="{{path('app_register')}}">
								Create account
							</a>
						{% endif %}

					</li>
				</ul>
			</div>
		</nav>

		<header class="bg-white">
			<div class="container">
				<nav class="navbar navbar-expand-md no-gutters">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="col-4 col-md-2 text-right text-md-center order-lg-6"></div>
					<div class="collapse navbar-collapse col-12 col-md-5 order-lg-1" id="navbarNav2">
					</div>
				</nav>
			</div>
		</header>

		<main>
			{% block body %}{% endblock %}
		</main>

		{# {% block footer %}
			<footer id="footer" class="fdb-block footer-small bg-white">
				<div class="container">
					<div class="row text-center align-items-center">
						<div class="col">
							<p class="h5 mt-1">You speech we write - {{"now"|date("Y")}} @ All rights reserved</p>
						</div>
					</div>
				</div>
			</footer>
		{% endblock %} #}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>

	</body>
</html>
